<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory name="sessionFactory">
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.password">root</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3309/scrt</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<!-- EL Mapeo a la tabla Servidor de la BD de SCRT -->
		<mapping resource="com/scrt/hibernate/model/Servidor.hbm.xml" />
		<mapping resource="com/scrt/hibernate/model/Consulta.hbm.xml" />
		<mapping resource="com/scrt/hibernate/model/Actualizacion.hbm.xml" />
		<mapping resource="com/scrt/hibernate/model/Cuenta.hbm.xml" />
		<mapping resource="com/scrt/hibernate/model/Computador.hbm.xml" />
		<mapping resource="com/scrt/hibernate/model/Licencia.hbm.xml" />
		<mapping resource="com/scrt/hibernate/model/Fuente.hbm.xml" />
		<mapping resource="com/scrt/hibernate/model/Empresa.hbm.xml" />
	</session-factory>
</hibernate-configuration>
